n8n-razorpay-delivery.json
{
  "name": "Razorpay → Product Delivery Email",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "razorpay-delivery",
        "options": {}
      },
      "id": "webhook-node",
      "name": "Razorpay Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300],
      "webhookId": "razorpay-delivery"
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict" },
          "conditions": [
            {
              "leftValue": "={{ $json.body.event }}",
              "rightValue": "payment.captured",
              "operator": { "type": "string", "operation": "equals" }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "filter-captured",
      "name": "Only payment.captured",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a1",
              "name": "email",
              "value": "={{ $json.body.payload.payment.entity.email }}",
              "type": "string"
            },
            {
              "id": "a2",
              "name": "name",
              "value": "={{ $json.body.payload.payment.entity.notes?.name || $json.body.payload.payment.entity.contact || 'there' }}",
              "type": "string"
            },
            {
              "id": "a3",
              "name": "order_id",
              "value": "={{ $json.body.payload.payment.entity.order_id || $json.body.payload.payment.entity.id }}",
              "type": "string"
            },
            {
              "id": "a4",
              "name": "amount_inr",
              "value": "={{ $json.body.payload.payment.entity.amount / 100 }}",
              "type": "number"
            },
            {
              "id": "a5",
              "name": "plan",
              "value": "={{ ($json.body.payload.payment.entity.notes?.plan) || (($json.body.payload.payment.entity.amount / 100) >= 699 ? 'bundle' : 'base') }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "extract-buyer",
      "name": "Extract Buyer Details",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [680, 280]
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict" },
          "conditions": [
            {
              "leftValue": "={{ $json.plan }}",
              "rightValue": "bundle",
              "operator": { "type": "string", "operation": "equals" }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "branch-plan",
      "name": "Bundle or Base?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [900, 280]
    },
    {
      "parameters": {
        "fromEmail": "ProdXStore <productsupport@prodxstore.com>",
        "toEmail": "={{ $json.email }}",
        "subject": "🚀 Your Complete AI Bundle is ready — download inside",
        "emailFormat": "html",
        "html": "PASTE_CONTENTS_OF_delivery-email-bundle.html_HERE",
        "options": { "replyTo": "productsupport@prodxstore.com" }
      },
      "id": "send-bundle",
      "name": "Send Bundle Email",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [1130, 180],
      "credentials": {
        "smtp": { "id": "REPLACE_WITH_YOUR_SMTP_CREDENTIAL_ID", "name": "Brevo SMTP" }
      }
    },
    {
      "parameters": {
        "fromEmail": "ProdXStore <productsupport@prodxstore.com>",
        "toEmail": "={{ $json.email }}",
        "subject": "🎉 Your Claude Prompt Pack is ready — download inside",
        "emailFormat": "html",
        "html": "PASTE_CONTENTS_OF_delivery-email-base.html_HERE",
        "options": { "replyTo": "productsupport@prodxstore.com" }
      },
      "id": "send-base",
      "name": "Send Base Email",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [1130, 380],
      "credentials": {
        "smtp": { "id": "REPLACE_WITH_YOUR_SMTP_CREDENTIAL_ID", "name": "Brevo SMTP" }
      }
    }
  ],
  "connections": {
    "Razorpay Webhook": { "main": [[{ "node": "Only payment.captured", "type": "main", "index": 0 }]] },
    "Only payment.captured": { "main": [[{ "node": "Extract Buyer Details", "type": "main", "index": 0 }], []] },
    "Extract Buyer Details": { "main": [[{ "node": "Bundle or Base?", "type": "main", "index": 0 }]] },
    "Bundle or Base?": { "main": [[{ "node": "Send Bundle Email", "type": "main", "index": 0 }], [{ "node": "Send Base Email", "type": "main", "index": 0 }]] }
  },
  "settings": { "executionOrder": "v1" },
  "active": false
}
